*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    height: 100%;
}
body{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0364e6 0%, #32abfe 100%);
}
form{
    border-radius: 10px;
    background-color: white;
    min-width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
fieldset{
    border: none;
    height: 100%;

}
legend{
    padding-top: 5%;
    margin: 0 auto;
    font-size: 20px;
}
div{
    width: 70%;
    margin: 0 auto;
}
div:last-child{
    border-top: 1px solid #c9e2f8;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84%;
    padding: 10% 0;
}
li{
    margin: 1% 0;
    list-style-type: none;
}
.fields, button{
    width: 100%;
    height: 40px;
    border: 1px solid #c9e2f8;
}
label{
    font-size: 12px;
    font-weight: normal;
}
#singIn_button{
    background: #017bff;
    font-size: 15px;
}
#sinIn_google{
    background: #e94335;
}
#singIn_facebook{
    background: #3a5a97;
}
button{
    font-weight: bold;
    color: white;
    font-size: 10px;
}
button:hover{
    border: 2px;
}

input, button{
    border-radius: 25px;
    outline: none;
}
input{
    padding-left: 20px;
}
input:hover, input:focus {
    border: 2px solid #c9e2f8;
}

/*|| MEDIA*/

@media all and (max-width: 450px){
    form{
        width: 100%;
        height: 100%;
    }
    #checkbox{
        margin: 10% 0;
    }
}
