*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #6d727e;
}

body{
    max-width: 1024px;
    min-width: 450px;
    margin: auto;
}

/*||HEADER*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 2%;
}

ul{
    display: flex;
    list-style-type: none;
}
header p{
    font-size: 30px;
}
header div{
    position: relative;
}
input{
    padding-left: 30px;
    outline: none;
    border-radius: 25px;
    height: 30px;
    border: 1px solid #a1a8b9;
    width: 150px;
}
header i{
    position: absolute;
    top: 6px;
    left: 6px;
}

/*||MAIN*/
main{
    margin: 0 2%;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
th, td{
    height: 35px;
    border: 1px solid #a1a8b9;
    text-align: left;
    padding: 0 2px;
}
td:last-child div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
i[class="fa fa-sort"]:hover{
    color: #03a9f4;
}
i[class="fa fa-eye"]:hover{
    font-size: 20px;
}
i[class="fa fa-pencil"]:hover{
    font-size: 20px;
}
i[class="fa fa-trash-o"]:hover{
    font-size: 20px;
}
/*|| FOOTER*/

footer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 5% 2%;
    font-size: 10px;
}
footer i{
    margin: 0 2%;

}
.fa-angle-double-left{
    margin-left: auto;
}
li{
    display: inline-block;
    padding: 5px 1px 0 0 ;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
li:hover{
    background: #03a9f4;
    color: white;
}
footer i:hover{
   color: #03a9f4;
}

